.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todoInput{
  background: whitesmoke;
  text-align: center;
  color:black;
}
.w-2{
  width: 200px;
  height: 100px;
  align-items: center;
  padding: 8rem;
  grid-row: 1/4;
  
}
.todoDiv{
  display: grid;
 
  grid-gap: 10px;
  padding: 10px;
}

.todoTask{
  background: whitesmoke;
  width:400px;
  height: 550px;
  color:black;
}

.todoDone{
  background: whitesmoke;
  width:400px;
  height: 550px;
  color:black;
}

.Header{
  padding:20px;
  text-align: center;
}
.topNav{
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}
.topNav a{
  float: left;
  display: block;
  color:whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topNav a:hover{
  background-color: tomato;
  color:whitesmoke;
}

.col{
  float: left;
  width:33.33%;
 
  border-radius: 1rem;
  margin-left: 1rem;
  box-shadow: 5px 5px darkcyan;
  

}

.row{
  padding: 4rem;  
}
.row:after{
  content:"";
  display: grid;
  clear:both;
  }

.w-input{
  width: 300px;
  height: 300px;
  background: whitesmoke;
  color: black;
  
}
.w-task{
  width: 250px;
  height: 300px;
  background-color: whitesmoke;
  color: black;
  
  
}

.todoTitle{
  background:tomato;
  padding:0.3rem;
  font-weight: bold;
  font-size: 25px;
  box-shadow: 2px 4px rgba(241, 86, 86, 0.815);
}
input[type=text]{
  width: 65%;
  height: 15%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid black;
  border-radius: 4px;
  
}
.add{
  background-color: #4CAF50;
  color:white;
  padding: 10px;
  width: 30%;
  margin:8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.done{
  margin:3px 0;
  width:20%;
  padding:2px;
}

.taskList{  
  font-size: 15px;
  text-align: left;
  font-weight: bold;
  padding-right: 10px;
  
}

.taskid{
  
  margin: 0.2rem;

}